.logos{
    display: flex;
    margin-bottom: 2cm;
    gap: 1cm;
    margin-top: 2cm;

}
#href{
    color:orange;
}
.customer{
    size: 3cm;
}
.square{
    border: blue 8px solid;
    height: 10cm; width: 10cm;
    position: absolute;
    margin-top: -607px; margin-left: 14cm;
}
.images{
    background-color: blue;
    /* background-position: bottom; */
    
}
#movingtogether{
    width: 10cm;
    height: 9cm;
}
#imag{
    width: 12cm;
}
#image{
    width: 100%;
}
#home{
    color: orange;
}
.contacts{
    display: flex;
    gap: 40cm;
}
.moving{
    background-image:url(images/Caspian-Header-Decreasing-1.png);
    background-size: cover;
    padding: 200px;
    background-position: center;
    text-align: center;
    position: relative;
    color: white;
}
.moving h1{
    position: relative;
    font-size: 80px;

}
.moving button{
    position: relative;
    border: none;
    z-index: 2;
    padding-top: 0.8cm;
    padding-bottom: 0.8cm
}
.button{
    background-color: orange;
    color: white;
    width: 3.5cm;
    height: 1.5cm;
}
.year{
    display: flex;
    margin-top: 2cm;
    font-size: large;
}
#icons{
    width: 5cm;
}
#since{
    font-size: larger;
}
.movingfun{
    display: flex;
    margin-top: 3cm;
    gap: 5cm;
}
.what_we_do{
    display: flex;
    gap: 4cm;
    font-size: larger;
    margin-left: -5cm;
    
}
.storage{
    background-color: blue;
    color: white;
    text-align: center;
}
.help{
    display: flex;
    gap: 3cm;
    margin-left: -5cm;
    margin-top: 2cm;
}
.why_chose_riaad{
    display: flex;
    gap: 3cm;
    margin-left: -5cm;
    margin-top: 4cm;
    
}
.img{
   width: 15cm;

}
#pic{
    width: 10cm;
}
.request{
    display: flex;
    color: white;
    margin-left: -12cm;
    font-size: larger;
    height: 10cm;
}
.booking{
    background-color: orange;
    width: 15cm;
    text-align: center;
    font-size: x-large;

}
#tick{
    background-color: orange;
    color: aliceblue;
    /* width: 1cm; */
    /* height: 0.7cm; */
    border-radius: 40%;
    padding: 0.3cm;
}
#helpservices{
    font-size: larger;
}
.helpservices{
    display: flex;
    margin-bottom: 2cm;
    margin-top: 1cm;
    font-size: larger;
}
.verify{
    background-color: aliceblue;
    width: 5cm;
    font-size: larger;
    margin-bottom: -1cm;
}
.movingimg{
    margin-left: -12cm;
    width: 60%;
}
.application{
    display: flex;
    gap: 1.5cm;
    background-color: blue;
   font-size: larger;
    width: 31cm; 
    width: 28.5cm;
}
.updates{
    margin-left: 4cm;
    margin-bottom: 4cm;
    margin-top: 4cm;
}
.testimony{
    margin-top: 3cm;
    margin-left: 4cm;
}
.email{
    display: flex;
    gap: 10cm;
    margin-left: -2cm;
}
.comments{
    display: flex;
    margin-left: -6cm;
    gap: 3cm;
    font-size: larger;
}
#quote{
    color: aliceblue;
    margin-top: 2cm;
    margin-left: 3cm;
    background-color: blue;
    /* width: 1cm; */
    /* height: 1.5cm; */
    border-radius: 114%;
    padding: 0.3cm;
    /* align-items: center; */
}
#name{
    color: orange;
}
.helpingmovers{
    font-size: x-large;
    margin-left: 5cm;
}
.button_discover{
    background-color: black;
    color: white;
    width: 4cm;
    height: 1.4cm;
    margin-top: 1.15cm;
}
.newsarticles{
    /* align-items: center; */
    margin-left: 6.5cm;
    margin-bottom: 2cm;
    
}
#news{
    font-size: xxx-large;
}
#admincomment{
    color: aliceblue;
    margin-top: -2.8cm;
    font-weight: 500;
    margin-left: 1cm;
}
.adverts{
    display: flex;
    gap: 1cm;
    margin-left: -6cm;
    font-size: large;
}
.discover{
    display: flex;
    background-color: orange;
    gap: 14cm;
    color: white;
    margin-left:-14cm ;
    height: 3cm;
    margin-top: 5cm;
    width: 46.5cm;
}
.footercontent{
    background-color: rgb(65, 62, 62);
    color: white;
    font-size: x-large;
    margin-left: -14cm;
    width: 46.5cm;
}
.footer{
    display: flex;
    gap: 2.5cm;
    margin-left: 3cm;
    /* text-align: center; */
    
}
.hr-lines{
    position: relative;
    max-width: 500px;
    margin: 40px auto;
    text-align: center;
    color: rgb(44, 38, 38);
}
.hr-lines:before{
    content:"";
    height: 2px;
    width: 200px;
    background:rgb(122, 107, 107) ;
    display: block;
    position: absolute;
    top: 35%;
    left: -17cm;
    width: 33cm;
}
#twitter{
    color: orange;
}
#arrowup{
    margin-left: 25cm;
    background-color: orange;
    border-radius: 114%;
    padding: 0.3cm;
    margin-top: -3cm;
}
.icon{
    margin-top: 1cm;
}
.copyright{
    margin-left: 16cm;   
    
}
